<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="/fetch"> <i class="bi bi-list"></i> <span>Fetch</span> </a></li>
       <li class="nav-item"> <a class="nav-link " routerLink="/save"> <i class="bi bi-list"></i> <span>Save</span> </a></li>
       <li class="nav-item"> <a class="nav-link " routerLink="/show"> <i class="bi bi-list"></i> <span>Show</span> </a></li>
       <li class="nav-item"> <a class="nav-link " routerLink="/delete"> <i class="bi bi-list"></i> <span>Delete</span> </a></li>
   
    </ul>
 </aside>