<main id="main" class="main">
    <div class="pagetitle">
       <h1>Delete Data</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item">Delete Data</li>
          </ol>
       </nav>
    </div>
    <div class="box-body">
    <section class="section">
       <div class="row">
         <div class="col-lg-3">
            <button class="btn btn-primary" mat-rasied-button (click)="openProductDeleteDialog()"><i class="bi bi-trash"></i> Delete Product</button>
          </div>
          <div class="col-lg-3">
            <button class="btn btn-primary" mat-rasied-button (click)="openPostDeleteDialog()"><i class="bi bi-trash"></i> Delete Post</button>
          </div>
          <div class="col-lg-3">
            <button class="btn btn-primary" mat-rasied-button (click)="openQuoteDeleteDialog()"><i class="bi bi-trash"></i> Delete Quote</button>
          </div>
        </div>
</section>

        
