<main id="main" class="main">
    <div class="pagetitle">
       <h1>Fetch Data</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item">Fetch Data</li>
          </ol>
       </nav>
    </div>
    <div class="box-body">
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
            <button type="button" class="btn btn-primary" (click)="fetch()">Fetch Data</button>
          </div>
        </div>
</section>
<div class="col-lg-12 mt-5">
   <pre>{{ fetchDatas }}</pre>
</div>
        
